<!-- <mat-grid-list [cols]="w">
  <mat-grid-tile [colspan]="w.valueOf() - 1">
    kuki
  </mat-grid-tile>
  <mat-grid-tile colspan="1">

    <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
    </mwl-gauge>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="widgetitem">
  <div class="itemchart">
    kuki
  </div>
  <div class="itemgauge">
    <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
    </mwl-gauge>
  </div>
</div>