<!-- <mat-grid-list [cols]="w">
  <mat-grid-tile [colspan]="w.valueOf() - 1">
    kuki
  </mat-grid-tile>
  <mat-grid-tile colspan="1">

    <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="50" [animated]="true" [animationDuration]="1">
    </mwl-gauge>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="widgetitem" (click)="openDialog()">
  <div class="itemchart" [style.display]="hideChart?'none':'inherit'">
    <app-data-chart id={{id}} [devideId]="id" [refreshSubject]="refreshSubject"></app-data-chart>
  </div>
  <div class="itemgauge" [ngStyle]="{'width': hideChart? '100%' : gwidth+'px'}">
    <mwl-gauge [class.high]="value > (max-((max-min)*0.1))" [class.low]="value < (min+((max-min)*0.1))" class="gauge-container five"
      [max]="max" [min]="min" [dialStartAngle]="90" [dialEndAngle]="0" [value]="value" [animated]="true" [animationDuration]="1">
    </mwl-gauge>
    <span class="value-text">{{unit}}</span>
  </div>
</div>