<svg viewBox="0 0 300 300" width=300 *ngIf="iconType == 'temp'">
  <rect x="1.5" y="1.5" height="297" width="297" stroke="lightblue" stroke-width=3 fill="none" rx="20" ry="20"></rect>
  <circle cx="50" cy="30" r="20" stroke-width="3" fill="lightgrey" />
  <line x1="50" y1="30" x2="50" y2="250" stroke="lightgrey" stroke-width="40" />
  <circle cx="50" cy="250" r="35" stroke-width="3" fill="red" />
  <line x1="50" attr.y1={{250*(1-ratio)}} x2="50" y2="250" stroke="red" stroke-width="40">
    <animate class="anim" attributeName="y1" attributeType="XML" begin="0s" dur="0.9s" fill="freeze" attr.from={{250*(1-oldratio)}}
      attr.to={{250*(1-ratio)}} />
  </line>
  <text x="190" y="190" fill="red" font-size="150" text-anchor="middle">{{value}}</text>
</svg>

<svg viewBox="0 0 200 100" width=400 *ngIf="iconType != 'temp'">
  <circle cx="100" cy="100" r="90" stroke-width="20" stroke="lightgrey" fill=none/>
  <circle cx="100" cy="100" r="90" stroke-width="20" stroke="red" attr.stroke-dasharray={{283+(ratio*283)}} fill=none>
    <animate class="anim" attributeName="stroke-dasharray" attributeType="XML" begin="0s" dur="0.9s" fill="freeze" attr.from={{283+(oldratio*283)}}
      attr.to={{283+(ratio*283)}} />
  </circle>
  <text x="100" y="90" fill="red" font-size="80" text-anchor="middle">{{value}}</text>
</svg>