<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>
  <img width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <button (click)="getData()">refresh</button>
  <button (click)="getTestData()">test</button>
  <button (click)="stopit()">Stop</button>
  <h2>Chart area</h2>
  <div width="300">
    <app-data-chart [refreshSubject]="refreshSubject" devideId="lc92" id=lc92></app-data-chart>
    <app-data-chart [refreshSubject]="refreshSubject" devideId="pq44" id=pq44></app-data-chart>
  </div>
  <h2>Ref Icon area</h2>
  <app-dinamic-icon [refreshSubject]="refreshSubject" devideId="lc92" min="0" max="100"></app-dinamic-icon>
  <ul>
    <li *ngFor="let data of datas">Devices: {{data.timestamp | date:'yy-MM-dd HH:mm:ss'}}
      <ul>
        <li *ngFor="let d of data.devices" id={{d.deviceid}}>{{d.deviceid}}| {{d.value}}</li>
      </ul>
    </li>
  </ul>
</div>