/* :host {
    position: absolute;
    display: flex;
    display: -webkit-inline-box;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
} */

.panel-heading {
    border-bottom: 1px solid #F0F0F0;
    display: inline-block;
    position: relative;
    width: 100%;
}

.panel-heading .panel-title {
    padding: 0px;
    margin: 0;
    text-align: center;
}

.panel-body {
    overflow: hidden;
    padding: 0 10px 0px;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 0;
    right: 0;
}

.dashboard {
    flex: 1;
}

/* .main-content {
    width: 100%;
    flex: 1 0px;
    display: flex;
    flex-direction: column;
    overflow: auto;
} */

.gridster-item-prototype.is-over .gridster-item-inner {
    visibility: visible;
}

.gridster-item-inner {
    box-sizing: border-box;
    top: 0;
    left: 0;
    overflow: auto;
    visibility: visible;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

button {
    border-width: 0.5px;
    background: grey;
    width: 55px;
    height: 20px;
    border-radius: 30px;
    box-shadow: 0 1px 0px rgb(0, 0, 0);
    -webkit-transition: all 0.5s, box-shadow 0s;
    transition: all 0.5s, box-shadow 0s;
    text-align: center;
    padding: 0;
}

button:hover {
    background: rgb(163, 203, 204);
    font-size: 15px;
    width: 70px;
    height: 30px;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    box-shadow: 0 3px 20px rgb(28, 3, 250);
}

button:focus {
    outline: none;
}

button:active {
    color: azure;
    border-width: 0;
    background: blue;
    -webkit-transition: background 0s;
    transition: background 0s;
}

.icondiv {
    height: 170px;
}

.refresh.icon {
    color: rgb(247, 165, 14);
    position: absolute;
    margin-left: 4px;
    margin-top: 3px;
    right: 10px;
    float: right;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-top: solid 2px currentColor;
    border-bottom: solid 2px currentColor;
    border-left: solid 2px transparent;
    border-right: solid 2px currentColor;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.refresh.icon:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 19px;
    width: 6px;
    height: 6px;
    border-top: solid 2px currentColor;
    border-left: solid 2px currentColor;
    -webkit-transform: rotate(-22.5deg);
    transform: rotate(-22.5deg);
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}